@import "reset";
@import "variables/global";

body {
  font-size: var(--font-size-m);
  line-height: var(--font-line-m);
  font-family: var(--font-family-main);
  color: var(--primary-color);
  background: var(--bg-color);
}

.app {
  min-height: 100vh;
  min-width: 320px;
  max-width: 1280px;

  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
