.UserCard {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-x: hidden;

  border-radius: 12px;
  border: 1px solid var(--primary-color);
  padding: 5px 10px;
}

.title {
  font-weight: 800;
}
